
<!-- create an html table that will show the dragon latter
showing rank picture name breed wins losses -->
<table>
    <tr>
        <th>Rank</th>
        <th>Dragon</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>

    <!-- loop through the dragons and create a row for each 
      picture is from age
      if dragon["latter_position"] == 1:
                    age = 'shalkith'
                elif dragon["age"] == 1:
                    age = 'hatch'
                elif dragon["age"] == 2 or dragon["age"] == 3 or dragon["age"] == 4:
                    age = 'young'
                elif  dragon["age"] == 5 or dragon["age"] == 6 or dragon["age"] == 7:
                    age = 'adult'
                else:
                    age = 'elder'

                image = "../images/{}_{}.png".format(dragon["breed"], age)
    
    -->
    {% for dragon in dragons %}
    
    

    <tr>
        <td>{{ dragon.latter_position }}</td>
        {% if dragon.latter_position == 1 %}
        <td><img src="{{url_for('images',filename='{{dragon.breed.lower()}}_shalkith.png')}}" alt="shalkith"></td>
        {% elif dragon.age  == 1 %}
        <td><img src="../images/{{dragon.breed}}_hatch.png" alt="hatch"></td>
        {% elif dragon.age  == 2 or dragon.age  == 3 or dragon.age  == 4 %}
        <td><img src="../images/{{dragon.breed}}_young.png" alt="young"></td>
        {% elif dragon.age  == 5 or dragon.age  == 6 or dragon.age  == 7 %}
        <td><img src="../images/{{dragon.breed}}_adult.png" alt="adult"></td>
        {% else %}
        <td><img src="../images/{{dragon.breed}}_elder.png" alt="elder"></td>
        {% endif %}

        
        <td>{{ dragon.name }}</td>
        <td>{{ dragon.breed }}</td>
        <td>{{ dragon.wins }}</td>
        <td>{{ dragon.losses }}</td>
    </tr>
    {% endfor %}
</table>


